<%= form_for(@periodical, :html => {:multipart => true} ) do |f| %>
  <% if @periodical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@periodical.errors.count, "error") %> prohibited this periodical from being saved:</h2>

      <ul>
      <% @periodical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label for="name">Name</label>
  <%= f.text_field :name %>
  <br/><br/>
  <label for="description">Description</label>
  <%= f.text_area :description %>
  <br/><br/>
  <br/><br/>
  <label for="resource">Upload HTML file</label>
  <%= f.file_field :resource %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
