<h1>Listing periodicals</h1>

<table>
  <tr>
    <th>Periodical Name</th>
    <th></th>
  </tr>

<% @periodicals.each do |periodical| %>
  <tr>
    <td><%= link_to periodical.name, periodical.resource_url %></td>
    <td>
      <%= link_to 'Show', periodical %>
      <%= link_to 'Edit', edit_periodical_path(periodical) %>
      <%= link_to 'Destroy', periodical, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Periodical', new_periodical_path %>

<p><small><a href="http://econify.com">Ruby, Android, iOS development</a></p>
